<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <h1>Class Page</h1>
    <ul>
        <% students.forEach((student) => { %>
         <li>
            <a href="/student/<%= student._id %>">
                <img src="<%= student.photo %>" alt=" <%= `${student.firstName} ${student.lastName}` %> ">
                <p> <%= `${student.firstName} ${student.lastName}` %> </p>
            </a>
        </li>   
        <% }) %>
    </ul>
</body>
</html>