<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <div class="container">
        <h1>Edit <%= project.name %></h1>
        <form action="/projects/<%= project._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">
                    Project Name: <input type="text" name="name" value="<%= project.name %>" class="form-control">
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    Description: <input type="text" name="description" value="<%= project.description %>" class="form-control">
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    Photo: <input type="file" name="photo" value="<%= project.photo %>" class="form-control">
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    Created By: <input type="text" name="createdBy" value="<%= student %>" class="form-control">
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    Date Made: <input type="date" class="form-control" name="dateMade" value="<%= project.dateMade.toISOString().slice(0, 10) %>">
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Update Project</button>
        </form>
    </div>
    <%- include('./partials/bootstrapjs.ejs') %>
</body>
</html>