<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <div class="container">
        <h1>Edit <%= student.firstName + " " + student.lastName %></h1>
        <form action="/student/<%= student._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="firstName">
                    First Name: <input type="text" name="firstName" value="<%= student.firstName %>" class="form-control" id="firstName">
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label" for="lastName">
                    Last Name: <input type="text" name="lastName" value="<%= student.lastName %>" class="form-control" id="lastName">
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label" for="classroom">
                    Photo: <input type="file" name="photo" value="<%= student.photo %>" class="form-control" id="classroom">
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label" for="studentPhoto">
                    Class: <input type="text" name="classroom" value="<%= student.classroom %>" class="form-control" id="studentPhoto">
                </label> 
            </div>
            <div class="mb-3">
                <label class="form-label" for="dateOfBirth">
                    Birthdate: <input type="date" name="dob" value="<%= student.dob.toISOString().slice(0, 10) %>" class="form-control" id="dateOfBirth">
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Update Student</button>
        </form>
    </div>
    <%- include('./partials/bootstrapjs.ejs') %>
</body>
</html>