<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <h1>Add a new Project</h1>
    <form action="/student/<%= student._id %>" method="POST" enctype="multipart/form-data">
        <label>
            Project Name: <input type="text" name="name" required>
        </label>
        <label>
            Description: <input type="text" name="description" required>
        </label>
        <label>
            Photo: <input type="file" name="photo" required>
        </label>
        <label>
            Date Made: <input type="date" name="dateMade" required>
        </label>
        <label> Created By: 
            <input type="text" name="createdBy" value="<%= student.firstName + " " + student.lastName%>" readonly>
        </label>
        <input type="submit" name="" value="Add Project">
    </form>

    <%- include('./partials/bootstrapjs.ejs') %>
</body>
</html>