<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <nav>
        <a href="/student/<%= project.createdBy %>">Back to <%= student %> Page</a>
    </nav>
    <h1><%= title %> by <%= student %></h1>
    <img src="<%= project.photo %>" alt="<%= project.description %>">
    <p>Description: <%= project.description %></p>
    <p>Made on: <%= project.dateMade.toDateString() %></p>
    <a href="/projects/<%= project._id %>/edit" >Edit <%= title %></a>
    <form action="/projects/<%= project._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete this Project">
    </form>
    <%- include('./partials/bootstrapjs.ejs') %>
</body>
</html>